*{
    box-sizing: border-box;
    font-family: 'Open Sans';
}

body{
    height: 100%;
    margin: 0;
}

span {
    color: #ff6600;
}

/* Utility classes */

.center {
    margin: 0 auto;
    width: 90%;
    max-width: 1080px;
}
.clear {
    clear: both;
}

.row {
    display: flex;
}
 
/* Normal styling */

.layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.hero {
    position: relative;
    background-image: url('../img/porsche.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    padding: 1rem 0 2rem;
}

header {
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #ffffff;

    padding: 1em 0 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.logo{
    color: #ffffff;
    float: left;
    font-size: 30px;
    font-size: bold;
    cursor: pointer;
}

.desktop{
    float: right;
}

.desktop ul{
    list-style-type: none;
}

.desktop li{
    font-size: 17px;
    display: inline-block;
    margin: 0 15px;
}

.desktop a{
    color: #ffffff;
    text-decoration: none;
    transition: .3s;
}

.desktop a:hover{
    color: #ff6600;
    border-top: 1px solid #ff6600;

    transition: .3s;
}

.conteudo-header{
    position: relative;
    z-index: 2;
    max-width: 700px;
    margin: 12rem 0 0;
}

.conteudo-header h2{
    color: white;
        font-size: 44px;
        font-weight: lighter;
}

.conteudo-header p{
    color: white;
    margin-top: 12px;
    font-size: 16px;
    font-weight: lighter;
}

.conteudo-header a{
    display: block;
    width: 177px;
    height: 44px;
    background: #ff6600;
    color: white;
    text-align: center;
    line-height: 44px;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 22px;
}

.linha-sobre{
    width: 100%;
    text-align: center;
    background-color: #303030;
    padding: 10px 2% 20px 2%;
}
.linha-sobre h2{
    color: #ff6600;
    font-weight: lighter;
    font-size: 25px;
    width: 230px;
    margin:0 auto 10px auto;    
}
.linha-sobre > .center{
    border-bottom: 1px solid #ff6600;
}
.box-single{
    width: 32%;

    padding:0 20px;
}
.box-single h2{
    background: #ff6600;
    padding-bottom: 7px;
    color: white;
    font-weight: lighter;
    text-align: center;
}
.box-single p{
    margin-top: 5px;
}
.boxes-sobre{
    padding:10px 0 40px;
    background: #303030;
}
.boxes-sobre > .center{
    display: flex;
    flex-wrap: wrap;
}
.box-wraper{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: white;
    border-radius: 17px;

    overflow: hidden;

    text-align: center;
}

.box-wraper > h2 {
    margin: 0;
}

.pontos-box{
    align-self: flex-start;

    padding: 2rem 0 0 1.5rem;
    color: #303030;
}
.pontos-box i{
    padding-right: 5px;
}

.box-text {
    text-align: center;
}

.box-botao{
    width: 100%;
    text-align: center;
    padding:30px 0 20px
}
.box-botao a{
    display: block;
    background: #ff6600;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    margin: 0 auto; 
    border-radius:20px;
}
.parallax{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    background-image: url('../img/farol-r8.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    min-height: 70vh;
    color: white;
    font-weight: lighter;
}
.parallax .center{
    position: relative;
    z-index: 2;
}
.parallax .center h2{
    font-weight: lighter;
    padding: 20px 0;
}
.overlay-parallax{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(20,20,20,0.9);
}

.subtitle {
    font-weight: lighter;
    font-size: 2.5em;
    margin: 0;
}

.contato{
    padding: 40px 0 ;
    background: #303030;
    color: white    ;
}
.descricao-usuario-box{
    color: #C0C0C0;
    padding-top: 15px;
}
.contato h2{
    font-weight: lighter;
}
.contato h2 > .borda-efeito{
    width:50px;
    height: 2px;
    position: absolute;
    background: #ff6600;
    transition: 0.4s;
}
.contato h2:hover > .borda-efeito{
    width: 100px;
}
.w50{
    float: left;
    width: 50%;
    padding: 0 15px;
}
.email{
    padding: 0;
}
.email form{
    padding-top: 15px;
}
.email input:not([type="submit"]){
    width: 100%;
    min-height: 2rem;

    border: none;
    border-radius: 100px;

    margin: 5px auto;
    padding-left: .7rem;
}

.email textarea{
    width: 100%;
    height: 180px;

    margin-top: 2.5px;
    padding: .5rem 0 0 .7rem;

    border: none;
    border-radius: 15px;

    resize: vertical;
}

.email input[type="submit"]{
    background: #ff6600;
    border: none;
    border-radius: 20px;

    color: white;
    text-align: center;
    font-weight: bold;
    
    width: 100px;
    height: 30px;
    
    margin-top: 5px;

    cursor: pointer;
}
.time{
    padding: 10px auto;
}
.time .w50{
    width: 48%;
    margin: 20px 1%;
}
.equipe-single{
    border: 1px solid #686868;
    border-radius: 15px;

    min-height: 280px;
    padding: 10px 1rem;
}

.equipe-single .box-avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../img/ft-perfil.png');
    background-size: contain;
}
.equipe-single .topo-box-usuario{
    padding-bottom: 10px;
    border-bottom: 1px solid #C0C0C0;
}
.box-avatar{
    vertical-align: middle;
}
.info-usuario{
    padding: 10px 0 0 10px;
    display: inline-block;
    vertical-align: middle;
}

.username {
    font-weight: bold;
    margin-bottom: 0;
}

.user-role {
    margin-top: 0;
}

.footer {
    background: #ff6600;
    height: 35px;

    text-align: center;
    color: white;
    font-weight: lighter;
    line-height: 35px;
}

.footer p {
    margin: 0 auto;
}

@media screen and (max-width:  1010px){
        .box-single{
            width: 100%;
            margin-top: 30px;
        }

        .w50 {
            width: 100%;
        }
}


@media (max-width: 780px) {
    .row {
        flex-direction: column;
        row-gap: 2rem;
    }

    .time {
        padding: 0;
    }
}